@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #445566;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

a {
    color: #143dad;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 200px);
}

@media screen and (max-width: 600px) {
    .content {
        margin: 1rem;
    }
}