.post {
  width: 400px;
  height: 200px;
  box-shadow: 0px 0px 6px #bbb;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 1rem 0 0;
  color: #000;
}
@media screen and (max-width: 600px) {
  .post {
    width: 100%;
    margin: 0.5rem 0;
  }
}
.knitting {
  composes: post;
  background-color: #d1c4f6;
}
.painting {
  composes: post;
  background-color: #dd9f9f;
}
.blog {
  composes: post;
  background-color: #deeee1;
}
.sewing {
  composes: post;
  background-color: #728da7;
}
.photography {
  composes: post;
  background-color: #7f8c9b;
}
.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  margin: 0.5rem 0;
  text-decoration: none;
}
.postBottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
